//Blueprint Style
// @import "../node_modules/@blueprintjs/core/lib/css/blueprint.css";
// @import "../node_modules/@blueprintjs/icons/lib/css/blueprint-icons.css";
.inner-container {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  .sub-header {
    text-align: center;
    font-size: 18px;
    margin-bottom: 7px;
  }
  .draggable-container {
    height: 400px;
    width: 100%;
    background-color: rgba(187, 187, 187, 0.23);
    padding: 6px;
    border-radius: 4px;
    border: 2px dashed rgba(27, 27, 27, 0.2);
    font-size: 14px;
    display: flex;
    margin-bottom: 7px;
    position: relative;
    overflow: hidden;
    #file-browser-input {
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      position: absolute;
      color: transparent;
      opacity: 0;
    }
    .files-preview-container {
      display: flex;
      width: 100%;
      height: 100px;
      flex-direction: row;
      flex-wrap: nowrap;
      z-index: 99;
      overflow-x: auto;
      overflow-y: hidden;
      flex-shrink: 0;
      padding: 5px;
      .file {
        width: 80px;
        height: 100px;
        background-color: rgba(101, 97, 97, 0.34);
        position: relative;
        margin-left: 8px;
        border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0px 0px 14px 3px rgba(15, 15, 15, 0.2);
        flex-shrink: 0;
        img {
          width: 100%;
          height: 100%;
        }
        .container {
          display: flex;
          position: absolute;
          flex-direction: column;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 0;
          transition: background, 160ms ease-in-out;
          &:hover {
            background-color: rgba(154, 151, 151, 0.29);
            .remove-btn {
              visibility: visible;
            }
          }
          .remove-btn {
            color: white;
            background: #ca4240;
            width: fit-content;
            position: absolute;
            right: -7px;
            top: -6px;
            z-index: 99;
            border-radius: 50%;
            cursor: pointer;
            visibility: hidden;
          }
          .progress-bar {
            position: absolute;
            width: 53px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-self: center;
          }
        }
      }
    }
    .helper-text {
      position: absolute;
      align-self: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #797676;
      // text-align: center;
      // border: 2px dashed;
      // padding: 78px;
      // height: 213px;
      // margin-top: 42px;
      // width: 100%;
      // background: white;
      // font-size: 30px;
    }
    .helper-text-on-drag {
      position: absolute;
      align-self: center;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      color: #797676;
      // z-index: -1;
      // text-align: center;
      // border: 2px dashed;
      // padding: 78px;
      // height: 213px;
      // margin-top: 42px;
      // width: 100%;
      // background: rgb(130, 167, 248);
      // font-size: 30px;
    }
    .file-browser-container {
      position: absolute;
      display: flex;
      justify-self: center;
      align-self: center;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.draggable-container-on-drag {
  background: #42576b;
  height: 400px;
  width: 80%;
  padding: 6px;
  border-radius: 4px;
  border: 2px dashed rgba(27, 27, 27, 0.2);
  font-size: 14px;
  display: flex;
  margin-bottom: 7px;
  position: relative;
  overflow: hidden;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

//Scroll BAR
.ip-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}

.ip-scrollbar::-webkit-scrollbar {
  width: 10px;
  background-color: #42576b;
  height: 5px;
}

.ip-scrollbar::-webkit-scrollbar-thumb {
  background-color: #42576b;
  /* border-radius: 4px; */
  /* background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent); */
}
