
.product_table{
    box-shadow: 0px 0px 12px -7px black;
}

.internal_box{
    padding : 5px;
    margin-bottom: 20px;
    background: #f0f2f5;
    box-shadow: 0px 0px 2px -1px black;
}

.internal_box_header{
    color:rgb(235, 235, 235);
    background: linear-gradient(to left, #1e496e 0%, #0f283d 100%);
    border-top-left-radius: 7px;
    display: inline;
    padding:5px;
    position: absolute;
    margin: -15px 0px 0px -17px;
    z-index: 10;
}

.internal_table{
    margin-top: 10px;
}