.validInput {
    margin-top: 12px;
    padding-left: 5px;
    height: 30px;
    font-family: monospace;
    font-size: 15px;
    width: 70%;
    background: rgb(250, 250, 250);
    border: none;
    border: 1px solid rgb(51, 128, 245);
    border-radius:5px; 
  }
  
  .validInput:hover {
    border: 1px solid rgb(32, 92, 182);
    border: 1px solid rgb(20, 97, 211);
  }
  
  .validInput:focus {
    border: none;
    outline: none;
    border: 1px solid rgb(32, 92, 182);
    box-shadow: 0px 0px 1px 1px rgb(32, 92, 182);
    transition: .3s;
  }
  
  .invalidInput {
    border-width: 1px;
    border-bottom: 1px solid rgb(218, 59, 59);
    border-top: 1px solid rgb(218, 59, 59);
    border-left: 1px solid rgb(218, 59, 59);
    background: rgb(255, 239, 239);
  }
  
  .errorMsg {
    float: left;
    color: rgb(247, 76, 76);
    font-family: monospace;
    font-size: 12px;
    position: absolute;
    margin-top: -5px;
    height: 12px;
  }
  
  .label {
    color: rgb(56, 56, 56);
    font-family: monospace;
    font-size: 12px;
    text-align: left;
    float: left;
    width:200%;
  }
  
  .browseButton {
    position: absolute;
    top: -50px;
    z-index: 1;
  }
  
  .container {
    height: 300px;
    width: 100%;
    border: 1px dashed rgb(151, 151, 151);
    position: relative;
    z-index: 10;
  }
  
  .input {
    opacity: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .imageviewer {
    display: flex;
    width: 500px;
    overflow: auto;
  }
  .imageview {
    position: relative;
  }
  .image {
    height: 70px;
    width: 70px;
    margin: 2px;
  }
  .deleteButton {
    position: absolute;
    float: right;
    right: 0px;
    background: rgb(212, 67, 67);
    border-radius: 50%;
    color: white;
    box-shadow: none;
    border: 1px solid rgb(22, 21, 21);
    cursor: pointer;
  }
  
  .hideDeleteButton {
    position: absolute;
    display: none;
  }
  
  .imageHeader {
    color: rgb(116, 116, 116);
  }
  
  .header {
    color: rgb(80, 80, 80);
    float: left;
    border-bottom: 1px solid rgb(99, 99, 99);
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
  }
  